* {
  margin: 0;
  padding: 0;
  font-family: arial;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 10vh;

}

#game {
  margin-top: 5vh;
}

#game td {
  border: 1px black solid;
}

#game p {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100px;
  width: 100px;

  font-size: 50px;
}

#turn {
  color: tomato;
  margin-top: 20px;
  font-size: 20px;
}

#reset {
  margin-top: 20px;
  margin-bottom: 10vh;
  padding: 5px;

  font-size: 20px;
  background-color: yellow;
}

#reset:hover {
  background-color: yellowgreen;
}
